<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">拉勾网管理系统</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li class="active"><a href="#" class="toManage">职位管理</a></li>
            </ul>
        </div>
        <div class="pull-right" id="regi-in">
            <button style="background-color: #080808;
            border: 1px solid #555;" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myLoginModal">登录</button>
            <button style="background-color: #080808;
            border: 1px solid #555; margin-left: 10px;" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myRegisterModal">注册</button>
        </div>
    </div>
</nav>
