@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, input, img, ul, li, ol, p, dl, dt, dd, figcaption, figure, header, main, aside, footer, section {
  padding: 0;
  margin: 0;
}

header, figure, figcaption, footer, main, aside, section {
  display: block;
}

body {
  background: url("../image/register/paper.jpg") no-repeat center top;
  background-size: cover;
  font-size: 15px;
  color: rgba(255,255,255,.8);
  font-family: "Blizzard","Arial","Helvetica","Segoe UI Symbol","Segoe MDL2 Assets","????????????","Microsoft YaHei","Hei SC","Segoe UI Symbol","Segoe MDL2 Assets",sans-serif;
}

ul, li {
  list-style: none;
}

img {
  border: 0;
  display: block;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.l {
  float: left;
}

.r {
  float: right;
}

.w {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.all {
  overflow: hidden;
  .w {
    .log {
      width: 100%;
      margin: 45px auto 10px;
      h1 {
        width: 200px;
        height: 105px;
        margin: 0 auto;
        img {
          cursor: pointer;
        }
      }
    }

    .set-user {
      margin: 20px auto 28px;
      h2 {
        font-weight: 300;
        font-size: 2em;
        line-height: 40px;
        color: #fff;
        text-align: center;
      }
    }

    .theBtn {
      text-align: center;
      #button {
        border: none;
        border-radius: 1px;
        color: #fff;
        display: inline-block;
        padding: 10px 0;
        font-size: 15px;
        background-color: #d60000;
        width: 500px;
        text-align: center;
        cursor: pointer;
      }
      #button:hover {
        background-color: #f70e0e;
      }
      .slider {
        position: relative;
        margin: 20px auto;
        span {
          color: rgba(255,255,255,.3);
        }
        span::before {
          content: "";
          background-color: rgba(255,255,255,.1);
          position: absolute;
          width: 250px;
          height: 1px;
          top: 50%;
          left: 0px;
          padding-right: 40px;
          box-sizing: border-box;
        }

        span::after {
          content: "";
          background-color: rgba(255,255,255,.1);
          position: absolute;
          width: 250px;
          height: 1px;
          top: 50%;
          right: 0px;
          margin-left: 40px;
        }
      }


    }
    p {
      margin-bottom: 10px;
      line-height: 25px;
    }
    .input {
      overflow: hidden;
      #v_container {
        float: left;
        width: 200px;
        height: 70px;
        margin-top: 10px;
        margin-bottom: 7px;
      }
      #username,#password,#checknum{
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        height: 34px;
        padding: 0 10px;
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 15px;
        line-height: 20px;
        border: 1px solid rgba(255,255,255,0.3);
        background-color: rgba(0,0,0,0.5);
        color: rgba(255,255,255,0.7);
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 2px;
        display: block;
        width: 100%;
        outline-color: rgba(255,255,255,0.5);;
      }
    }
    .submit {
      margin-top: 20px;
      text-align: center;
      button {
        outline: none;
        border: 0;
        background-color: #0e86ca;
        color: #fff;
        border: 1px solid #10a1de;
        box-shadow: 0 0 rgba(0,0,0,0);
        border-radius: 0;
        -webkit-transition: background-color .2s,box-shadow .2s,background-color .2s,border-color .2s,color .2s;
        transition: background-color .2s,box-shadow .2s,background-color .2s,border-color .2s,color .2s;
        box-shadow: 0 1px 1px rgba(0,0,0,0.3), 0 0 0 1px rgba(255,255,255,0.15) inset;
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 3px 0;
        padding: 6px 20px;
        font-size: 15px;
        line-height: 20px;
        height: 34px;
        width: 100%;
        cursor: pointer;
        box-sizing: border-box;
      }
      button:hover {
        background-color: #00aeff;
        color: #fff;
        border-color: #00aeff;
        box-shadow: 0 0 rgba(0,0,0,0);
      }
    }
  }
  /*=======================footer===========================*/

  footer {
    font-family: "Open Sans",Arial,Helvetica,"Segoe UI Symbol","Segoe MDL2 Assets","微软雅黑","Microsoft YaHei","Hei SC",sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    margin-top: 80px;
    .w {
      .footer-log{
        text-align: center;
        a{
          display: inline-block;
         h1 {
           display: inline-block;
           img {
             width: 124px;
             height: 66px;
           }
         }
        }
      }
      .links {
        ul {
          margin: 30px auto 13px;
          overflow: hidden;
          text-align: center;
          li {
            display: inline-block;
            span {
              margin: 0 8px;
              color: rgba(255,255,255,.7);
              font-size: 14px;
            }
            a {
              font-size: inherit;
              color: rgba(255,255,255,.7);
              text-decoration: none;
              background: 0 0;
              white-space: nowrap;
              text-transform: uppercase;
            }
          }
        }
      }
      .NavbarFooter-copyright {
        p {
          text-align: center;
          color: rgba(255,255,255,.3);
          line-height: 1.4;
          font-size: 13px;

        }
      }
      .footer-law-links {
        a {
          font-size: inherit;
          color: rgba(255,255,255,.7);
          text-decoration: none;
          background: 0 0;
          white-space: nowrap;
          text-transform: uppercase;
          font-size: 13px;
        }
        span {
          color: rgba(255,255,255,.7);
        }
      }
      .footernum {
        margin-top: 10px;
        a {
          font-size: inherit;
          color: rgba(255,255,255,.3);
          text-decoration: none;
          background: 0 0;
          white-space: nowrap;
          text-transform: uppercase;
          font-size: 13px;
        }
        span {
          color: rgba(255,255,255,.3);
        }
      }
      .footertel {
        a {
          font-size: inherit;
          color: rgba(255,255,255,.3);
          text-decoration: none;
          background: 0 0;
          white-space: nowrap;
          text-transform: uppercase;
          font-size: 13px;
        }
        span {
          color: rgba(255,255,255,.3);
        }
      }
      .last {
        a {
          font-size: inherit;
          color: rgba(255,255,255,.7);
          text-decoration: none;
          background: 0 0;
          white-space: nowrap;
          text-transform: uppercase;
          font-size: 13px;
        }
      }
      .footer-img {
        margin-top: 10px;
        ul {
          text-align: center;
          li {
            display: inline-block;
            margin: 0 5px;
          }
        }
      }
    }

  }
}


